// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-title-user{
  margin-bottom: 50px;
}


.field-first{
  margin-top: 20px;
}

.field-end{
  margin-bottom: 20px;
}

.gallery{
  margin-top: 20px;
  padding: 0px;

}

.like-heart{
  font-size: 30px;
}

.like-title{
  color: red;
}

.gallery.like-gallery{
  margin-left: 20%;
  margin-top: 30px;
}